@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f1ecea;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.contenido {
    width: 90%;
    max-width: 900px;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.encabezado {
    background-color:  #3a251c ;
    text-align: center;
    .titulo {
        font-size: 50px;
        padding: 30px 0px;
    }
}

.barra-navegacion {
    background-color: #b46424 ;
    line-height: 50px;
    .opciones > .item{
        display: inline-block;
        margin: 0px 5px;
        .link {
            display: block;
            font-size: 20px;
            text-decoration: none;
            color:white;
        }
    }
}

#seccion {
    text-align: justify;
    float: left;
    padding: 20px;
    background-color:  #362f2f ;
    width: 64%;
    .titulo {
        margin: 10px 0px;
        font-size: 30px;
    }

    .subtitulo-1 {
        font-size: 22px;
    }
    
    .subtitulo-2 {
        font-size: 22px;
    }
    
    .parrafo{
        margin: 30px 0px;
        font-size: 20px;
    }
    .img {
        width: 100px;
        height: 100px;
        border: 1px solid white;
        margin: 0px 5px;
    }
}

#fueraSeccion {
    float: left;
    background-color:  #b58c7c;
    width: 36%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .img-container {
        margin: 50px 0;
    }
    .img {
        width: 100px;
        height: 100px;
        border: 1px solid white;
    }
    .titulo{
        text-align: center;
        font-size: 28px;
    }

    .opciones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .item {
            width: 100%;
        }
        .item > .link {
            color: white;
            font-size: 20px;
            text-decoration: none;
            text-align: center;
        }
    }
}

#pie {
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    background-color: #3a251c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    #seccion > .titulo, #fueraSeccion > .titulo {
        font-size: 28px;
        margin-bottom: 20px;
        text-align: center;
    }

    .encabezado > .titulo {
        font-size: 40px;
        padding: 20px 0;
    }

    .subtitulo-1, .subtitulo-2 {
        font-size: 25px;
        margin-bottom: 20px;
        text-align: center;
    }

    #seccion > .parrafo {
        font-size: 18px;
    }

    .container {
        flex-direction: column;
        align-items: stretch;
    }

    #seccion, #fueraSeccion {
        width: 100%;
    }

    #seccion {
        padding: 50px;
    }

    #fueraSeccion {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 500px) {
    #seccion {
        padding: 30px;
    }
    .barra-navegacion > .opciones {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #pie {
        padding: 20px;
        .mens {
            line-height: 25px;
        }
    }
}