@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#cabecera {
    font-family: 'Roboto';
    text-align: center;
    background-color: rgb(30, 30, 30);
    color:white;
    .titulo {
        font-weight: 300;
        font-size: 60px;
        padding: 20px;
    }
    .descripcion {
        font-weight: 300;
        font-size: 28px;
    }

    .descripcion-2 {
        padding-bottom: 20px;
    }
}

#contenido {
    .seccion-catalogo {
        .art-automoviles {
            height: 100vh;
            text-align: center;
            .header-art > .titulo{
                display: inline-block;
                font-family: 'Roboto';
                font-weight: 1000;
                font-size: 30px;
                margin: 40px 0px 40px;
                padding: 20px 10px;
                color: rgb(90, 90, 90);
            }
            .art-contenido {
                width: 1300px;
                margin: 0px auto;
                .card-automovil {
                    float: left;
                    height: 250px;
                    width: 602px;
                    margin: 0px 0px 30px 30px;
                    border: 1px solid rgb(170, 170, 170);
                    border-radius: 5px;
                    overflow: hidden;
                    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
                    .descripcion-automovil {
                        float: left;
                        font-family: 'Roboto';
                        padding: 20px;
                        width: 200px;
                        height: 250px;
                        background-color: rgb(30, 30, 30);
                        color:white;
                        .titulo-descripcion {
                            margin-bottom: 15px;
                        }
                        .descripcion {
                            font-size: 16px;
                            font-weight: 200;
                            text-align: left;
                        }
                        .precio {
                            padding: 5px;
                            background-color: white;
                            color: rgb(30, 30, 30);
                            margin: 10px 0px 22px;
                            font-weight: bold;
                            border-radius: 3px;
                        }
                        .btn-comprar {
                            display: inline-block;
                            padding: 8px 5px;
                            width: 120px;
                            background-color: rgb(19, 101, 209);
                            color: rgb(255, 255, 255);
                            font-family: 'Roboto';
                            font-weight: 800;
                            text-decoration: none;
                            border-radius: 20px;
                            transition: background-color ease-in 100ms;
                        }
                        .btn-comprar:hover {
                            background-color: rgb(34, 121, 235);
                        }
                    }
                    .img-automovil {
                        float: left;
                        width: 400px;
                        padding-top: 45px;
                    }
                }
            }
        }
    }
}

#pie-pagina {
    clear: both;
    padding: 20px;
    background-color: rgb(34, 121, 235);
    .titulo {
        font-family: 'Roboto';
        color: white;
        text-align: center;
    }
}