* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    accent-color: rgb(41, 41, 41);
}

body {
    text-align: center;
}

input, select{
    padding: 5px;
}

textarea {
    padding: 10px;
}

.contenedor {
    margin: 50px auto 25px;
    background-color: lemonchiffon;
    width: 900px;
    border: 5px solid black;
    padding: 20px;
}

.titulo {
    margin: 20px 0;
}

.nombre-contains {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

input[id="nombre"]{
    width: 425px;
    padding: 5px 5px;
}

.row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.lugar-poblacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LugarNacimiento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

#LugarNacimiento {
    width: 150px;
}

.poblacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

label[for="Poblacion"]{
    display: block;
    width: 100%;
    text-align: left;
}

.FechaNacimiento {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.row3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: auto;
    margin-bottom: 20px;
}

.sexo {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 280px;
}

.sexo > label{
    display: block;
    width: 100%;
    text-align: left;
}

.checkboxs {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}

.checkboxs > label {
    margin-right: 20px;
}

.idiomas > label {
    display: block;
    width: 100%;
    text-align: left;
}

.row4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.correo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.correo > label {
    display: block;
    width: 100%;
    text-align: left;
}

.MesAñoEgreso {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-top: 15px;
}

.MesAñoEgreso > label {
    display: block;
    width: 100%;
    text-align: left;
}

.MesAñoEgreso > input{
    width: 100%;
}

.col2 {
    width: 50%;
}

.habitos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.habitos > label {
    display: block;
    width: 100%;
    text-align: left;
}

.habitos > textarea {
    width: 100%;
}

.row5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 50px;
}

.ingresos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ingresos > input {
    display: block;
    width: 400px;
}
.datosLista {
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"], input[type="reset"] {
    margin: 0px 20px;
    padding: 15px 30px;
    background-color: rgb(41, 41, 41);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 200ms ease;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: rgb(60, 60, 60);
}