* {
    padding: 0;
    margin: 0;
}

:root {
    --width-item: 200px;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#contenedor{
    padding: 0.1px;
    max-width: 900px;
    width: 80%;
    background-color: #dee0b7;
    max-width: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 50px 0;
}

#menu{
    height: auto;
    background-color: #7e815b;
    margin: 1em;
    border-radius: 5px;
}


#contenido{
    height: 750px;
    width: 58%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contenido-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#fueraSeccion{
    height: 750px;
    width: 35%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    background-color: #b5bf9a;
}

.texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: black;
}

.img{
    width: 100px;
    border-radius: 5px;
    justify-items: center;
}

.encabezado-articulo{
    padding: 10px;
    text-align: center;
    background-color: rgb(83, 152, 87);
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;
}

.encabezado-aside{
    padding: 10px 10px;
    text-align: center;
    background-color: #539857;
    color: white;
    margin: 1em 2em;
    border-radius: 5px;
}

.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding: 0,25px;
}

.lista-aside{
    padding: 10px;

}

.lista-aside li{
    display: flex;
    text-align: left;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color:#000;

}

#pie{
    height: 7%;
    background-color: #b5bf9a;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#pie h3{
    font-size: 20px;
    line-height: 80px;
}

ul{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

li{
    width: var(--width-item);
}

li a {
    display: block;
    color: #fff;
    padding: 18px 30px;
    text-decoration: none;
}

li a:hover{
    background-color: #a2a57e;
}

@media screen and (max-width: 1000px) {
    #pie > h3 {
        font-size: 18px;
    }
    .texto {
        font-size: 20px;
    }
}

@media screen and (max-width: 941px) {
    #pie > h3 {
        font-size: 16px;
    }
    .texto {
        font-size: 18px;
    }
}

@media screen and (max-width: 845px) {
    #pie > h3 {
        font-size: 14px;
        line-height: 20px;
    }
    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 790px) {
    :root {
        --width-item: 150px;
    }

    h1 {
        margin: 25px;
        font-size: 25px;
    }

    li a {
        padding: 9px 15px;
    }
}


@media screen and (max-width: 700px) {
    .contenido-flex {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #contenido {
        width: 90%;
        height: auto;      
    }
    #fueraSeccion {
        width: 90%;
        height: auto;
    }
    h2 {
        font-size: 16px;
    }
    li a {
        padding: 9px 15px;
        font-size: 16px;
    }
}

@media screen and (max-width: 603px) {
    :root {
        --width-item: 100px;
    }

    h1 {
        margin: 25px;
        font-size: 25px;
    }

    li a {
        padding: 9px 15px;
    }
}

@media screen and (max-width: 415px) {
    ul {
        flex-direction: column;
    }
    li {
        width: 100%;
        border-bottom: 1px solid #fff;
    }
    .texto {
        font-size: 12px;
        margin-bottom: 10px;
    }
}