@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* SELECTOR UNIVERSAL */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

:root {
    --backgorund-color: rgb(226, 64, 43);
    --box-sh: 0px 0px 0px #000000;
}

#cabecera {
    background-color: rgb(0, 0, 0);
    .titulo {
        padding: 30px;
        font-family: 'Roboto';
        color:white;
        text-align: center;
        text-transform: uppercase;
    }
    .nombre-contenedor {
        background-color: rgb(0, 0, 0);
        .nombre {
            padding: 15px;
            font-family: 'Roboto';
            text-align: center;
            color:rgb(255, 255, 255);
            text-align: center;
        }
    }
}

#contenido {
    height: auto;
    padding: 50px;
    .seccion-practicas {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        flex-wrap: wrap;
        .card-practica {
            display: inline-block;
            margin: 10px;
            width: 600px;
            height: 350px;
            overflow: hidden;
            border-radius: 5px;
            border: 2px solid rgb(180, 180, 180);
            box-shadow: var(--box-sh);
            background-position: center;
            background-size: cover;
            .item {
                opacity: 0%;
                display: block;
                text-decoration: none;
                color: white;
                text-align: center;
                line-height: 348px;
                font-family: 'Roboto';
                font-weight: 800;
                font-size: 30px;
                height: 100%;
                cursor: pointer;
                background-color: var(--backgorund-color);
                transition: all ease-in 150ms;
            }
            .item:hover {
                opacity: 100%;
                :root {
                    --box-sh: 0px 0px 12px rgba(255, 255, 255, 0.5);
                }
            }
        }
        .automoviles {
            background-image: url("../img/automoviles/automoviles.jpg");
            
        }
        .ciclo {
            background-image: url("../img/ciclo/ciclo-index.jpg");
        }
        .cafe {
            background-image: url("../img/cafe/cafe.jpg");
        }
        .personal {
            background-image: url("../img/personal/personal.jpg");
        }
        .formulario {
            background-image: url("../img/formulario/formulario.png");
        }
    }
}